<div>
    <div class="hna qual quarter-qual">
        <h2>Awards &amp; Honors</h2>
        <ul>
            <li>Here's something funky I did
                <ul>
                    <li><a href="http://theophilevast.fr/cosmiccivilwar/index.html">Cosmic civil war</a> a javascript
                        video game</li>
                    <li><a href="http://theophilevast.fr/">Portfolio</a>, all my projects</li>
                </ul>
            </li>

        </ul>
    </div>



    <div class="sknex">
        <h2>Skills &amp; Expertise</h2>
        <br>
        <div class="skills-text">
            <br>
            <p>
                Here's a basic explaination of the cool things that I can do, including:
            </p>

            <ul>
                <li>Web development</li>
                <li>Advertising</li>
                <li>Webdesign</li>
            </ul>
        </div>

        <div class="skills-vis">
            <div id="skill1">
                <h3>Adobe Software</h3>
                <hr>
                <br>
                <div class="skill-breakdown">
                    <div class="pie-container">
                        <div class="center"></div>
                        <div class="pie-back"></div>
                        <div class="hold" id="puters">
                            <div class="pie"></div>
                        </div>
                        <div class="hold" id="puters4">
                            <div class="pie"></div>
                        </div>

                        <div class="hold" id="movies">
                            <div class="pie"></div>
                        </div>

                        <div class="hold" id="games">
                            <div class="pie"></div>
                        </div>

                        <div class="hold" id="music">
                            <div class="pie"></div>
                        </div>
                        <div class="hold" id="music2">
                            <div class="pie"></div>
                        </div>

                        <div class="hold" id="tv">
                            <div class="pie"></div>
                        </div>
                    </div>
                    <div class="pie-legend">
                        <ul>
                            <li>Photoshop</li>
                            <li>Illustrator</li>
                            <li>Premiere</li>
                            <li>Dreamweaver</li>
                        </ul>
                    </div>
                </div>
            </div>

            <div id="skill2">
                <h3>Web</h3>
                <hr>
                <br>

                <div class="skill-breakdown">
                    <div class="pie-container">
                        <div class="center"></div>
                        <div class="pie-back"></div>
                        <div class="hold" id="puters">
                            <div class="pie"></div>
                        </div>
                        <div class="hold" id="puters4">
                            <div class="pie"></div>
                        </div>

                        <div class="hold" id="movies">
                            <div class="pie"></div>
                        </div>

                        <div class="hold" id="games">
                            <div class="pie"></div>
                        </div>

                        <div class="hold" id="music">
                            <div class="pie"></div>
                        </div>
                        <div class="hold" id="music2">
                            <div class="pie"></div>
                        </div>

                        <div class="hold" id="tv">
                            <div class="pie"></div>
                        </div>
                    </div>
                    <div class="pie-legend">
                        <ul>
                            <li>HTML5</li>
                            <li>CSS3</li>
                            <li>Javascript</li>
                            <li>Node js</li>
                            <li>Meteor</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>